@font-face {
    font-family: "fontregular";
    src: url("title_fonts1/Apparel/Apparel\ Bold.ttf") format("truetype");
}
@font-face {
    font-family: "fontbold";
    src: url("title_fonts1/Apparel/Apparel\ Black.ttf") format("truetype");
}
@font-face {
    font-family: "font";
    src: url("title_fonts1/Apparel/Apparel\ Display\ Regular.ttf") format("truetype");
}

.text_container2 .text .special {
    color: hsl(29, 100%, 64%); 
}

a {
    text-decoration: none;
    color: white;
}
  
a:active, a:hover{
    text-decoration: none;
    color: hsl(308, 96%, 64%)
}

body {
    background-color: #0c0c0c;
}

.text_container .text {
    margin: 10px;
    position: relative;
    font-size: 3rem;
    font-family: 'fontbold', 'times new roman';
    color: white;
}

.text_container .subtitle {
    margin: 10px;
    position: relative;
    font-size: 2rem;
    font-family: 'font', 'times new roman';
    color: white;
}

.text_container .paragraph_text {
    margin: 10px;
    position: relative;
    font-size: 1rem;
    font-family: 'font', 'times new roman';
    color: white;
}

.text_container {
    padding: 10px;
    opacity: 0;
    position: relative;
    margin: auto;
    background-clip: border-box;
    margin-top: 140px;
    text-align: left;
    width: 90%;
    border: 1px solid hsl(200, 100%, 55%);
    animation: show_text 0.2s linear forwards;
    animation-delay: 1.80s;
}

.text_container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200, 100%, 55%);
    z-index: 3;
    animation: reveal_text 1.2s ease forwards; 
    animation-delay: 1.85s;
}

.text_container1 .text {
    margin: 0;
    position: relative;
    font-size: 2.3rem;
    font-family: 'font';
    color: white;
}

.text_container1 {
    padding: 10px;
    opacity: 0;
    position: relative;
    margin: auto;
    background-clip: border-box;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    border: 1px solid hsl(314, 92%, 54%);
    animation: show_text 0.2s linear forwards;
    animation-delay: 1.80s;
}

.text_container1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(314, 92%, 54%);
    z-index: 3;
    animation: reveal_text 1.2s ease forwards;
    animation-delay: 1.95s;
}

.text_container2 .text {
    margin: 0;
    position: relative;
    font-size: 2rem;
    font-family: 'fontregular';
    color: white;
}

.text_container2 {
    padding: 10px;
    opacity: 0;
    position: relative;
    margin: auto;
    background-clip: border-box;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    border: 1px solid hsl(29, 100%, 55%);
    animation: show_text 0.2s linear forwards;
    animation-delay: 1.80s;
}

.text_container2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(29, 100%, 55%);
    z-index: 3;
    animation: reveal_text 1.2s ease forwards;
    animation-delay: 2s;
}

@keyframes reveal_text {
    from{
        opacity: 1;
    }
    
    to {
        transform: translateX(-50%) scaleX(0);
    }
}

@keyframes show_text {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/* title name  */

.title {
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    text-align: center;
    animation: reposition forwards;
    animation-duration: 0.5s;
    animation-delay: 1.35s; 
    font-size: 10px;
}

@keyframes reposition {
    to {
        transform: translateY(-285px) scale(0.5);
    }
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.title h1 {
    cursor: default;
    color: white;
    font-family:'Roboto';
    background: linear-gradient(to right,     
    rgb(52, 170, 220), rgb(52, 170, 220),     
    rgb(88, 86, 217), rgb(255, 45, 83),       
    rgb(187, 8, 172), rgb(88, 86, 217),      
    rgb(52, 170, 220), rgb(76, 217, 105),
    rgb(52, 170, 220),  rgb(52, 170, 220));
    font-size: 160px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: background_animation 10s linear infinite;
}


.title span::before {
    font-family: 'fontbold';
    content: "RYAN";
    animation: words 0.8s linear;
}

.title span::after {
    content: "";
    width: calc(100% + 8px);
    height: 100%;
    border-left: 7px solid #000000;
    right: -10px;
    margin: 0 -7px 0 0;
    animation: cursor 1s 2.1 linear, typing 20s steps(14) infinite;
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}

@keyframes cursor {
    to {
        border-left: 7px solid #ffffff;
    }
}

@keyframes words {
    0% {
        content: "";
    }
    10%{
        content: "";
    }
    20%{
        content: "";
    }
    30%{
        content: "";
    }
    40%{
        content: "";
    }
    50%{
        content: "";
    }
    60%{
        content: "";
    }
    70%{
        content: "R";
    }
    80%{
        content: "RY";
    }
    90%{
        content: "RYA";
    }
    100%{
        content: "RYAN";
    }
}

@keyframes background_animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}


/* triangle building divs */

/* .top {
    margin: auto;
    width: 500px; 
    height: 0; 
    background-color: transparent;
    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #04adfc;
}

.right {
    margin: auto;
    width: 472px; 
    height: 0; 
    background-color: transparent;
    border-left: 0px solid transparent;
    border-right: 11.5px solid transparent;
    border-bottom: 20px solid #04adfc;
    transform: rotate(300.7deg) translateY(210px) translateX(-76.5px)
}

.left {
    margin: auto;
    width: 489px; 
    height: 0; 
    background-color: transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #04adfc;
    transform: rotate(58deg) translateY(181px) translateX(85px)
} */
